body, main {
    margin: 0;
    padding: 0;
}

#upload-form {
    padding: 10px;
}

#drag-and-drop {
    width: 128px;
    height: 128px;
    display: block;
    outline-style: dashed;
    text-align: center;
    user-select: none;
}

.invisible {
    display: none;
}
