{% extends "base.html" %}
<!-- Download Page / Страница Загрузки -->
{% block content %}
<div class="width-thing">
    <div class="dnd-wrapper">
        <div class="dnd">
            <div class="drag-and-drop_form">
                <h3>{{ file.filename }}</h3>
                <h4>{{ file.file_size }}</h4>
            </div>
        </div>
    </div>

    <div>Истекает через {{ expires_in }}</div>

    <a href="/{{ file.id }}/download" download>
        <button>Скачать</button>
    </a>

    <form class="delete_form" hx-delete="/{{ file.id }}/delete">
        <button>Удалить</button>
        <input type="text" name="password" id="password" placeholder="Пароль" />
    </form>
</div>
{% endblock %}
