{% extends "base.html" %}
<!-- Main Page / Основная страница -->
{% block content %}
<form id="upload-form" class="upload-form" hx-put="/files" hx-encoding="multipart/form-data">
    <input type="file" id="file" name="file" hidden onchange="handleFiles()" />

    <div class="width-thing">
        <label id="drag-and-drop" class="dnd-wrapper" for="file">
            <div class="dnd">
                <div class="drag-and-drop_form">
                    <img src="/static/images/upload-icon.svg" alt="">
                    <p>Перетащите ваш файл</p>
                </div>
                <progress id='upload-progress' value='0' max='100' class="invisible"></progress>
            </div>
        </label>

        <select id="upload_duration" name="upload_duration">
            {% for index, upload_duration in upload_durations %}
            <option value="{{ index }}">Хранить на {{ upload_duration.duration_in_minutes }} минут</option>
            {% endfor %}
        </select>
    </div>

    <div class="main_explain">
        <p style="margin-bottom: 0px;">
            Разрешенные форматы файлов: {% for extension in extensions %}.{{ extension + ", " if extensions[-1] != extension else extension }}{% endfor %}<br />
            Максимальное разрашенное размер файла: <span id="maximum_allowed_size">?</span> мб
        </p>
    </div>
</form>
{% endblock %}

{% block extrajs %}
<script src="/static/js/upload-page.js"></script>
<script>
    window.uploadDurations = JSON.parse(`{{ upload_durations_json|safe }}`)
</script>
{% endblock %}